# Database Configuration
MYSQL_HOST=localhost
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=whatsapp
MYSQL_USER=whatsapp
MYSQL_PASSWORD=whatsapp

# Ports
MYSQL_PORT=3306
PHPMYADMIN_PORT=8080

# WhatsApp Configuration
JWT_ID_BOTSECRET=your_bot_group_id@g.us
JWT_ID_GROUPSECRET=your_main_group_id@g.us
